<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>开发组</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>作者</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>2019届 胡清阳</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>界面</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>2018届 顾平德</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>2018届 李逸宸</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>2019届 刘欣然</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>游戏</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>2019届 谢祖地</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>2019届 史欣然</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>2019届 陈思睿</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>2019届 隋佳钰</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>其他</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>胡清阳的博客</string>
			<key>Key</key>
			<string>app.blog.hqy</string>
			<key>IASKSubtitle</key>
			<string>https://hqy.moe</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>谢祖地的博客</string>
			<key>Key</key>
			<string>app.blog.xzd</string>
			<key>IASKSubtitle</key>
			<string>https://xzd.nfls.io</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>开源项目许可证</string>
			<key>Key</key>
			<string>app.license</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Secret Zone</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string>app.code</string>
		</dict>
	</array>
</dict>
</plist>
