<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>界面</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>往卷下载强制正序</string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>settings.resources.rank</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>晚间自动进入夜间模式</string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>settings.night.auto</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>预览文档时保持屏幕常亮</string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>settings.keep.enabled</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>自定义主题（点+号应用）</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>settings.theme.customize</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>预设</string>
			<key>Key</key>
			<string>settings.theme.pick</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>用户</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>国际部在校学生实名认证</string>
			<key>Key</key>
			<string>app.realname</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>获取入场券</string>
			<key>Key</key>
			<string>app.ticket</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>个人中心</string>
			<key>Key</key>
			<string>app.user</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>退出</string>
			<key>Key</key>
			<string>app.logout</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>开发组博客</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>胡清阳的博客</string>
			<key>Key</key>
			<string>app.blog.hqy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>谢祖地的博客</string>
			<key>Key</key>
			<string>app.blog.xzd</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>关于</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>在App Store上给我们评价</string>
			<key>Key</key>
			<string>app.review</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>开源项目许可证</string>
			<key>Key</key>
			<string>app.license</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>请喝咖啡</string>
			<key>Key</key>
			<string>app.donate</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>开发组</string>
			<key>File</key>
			<string>Authors</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>管理（仅针对管理员开放）</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>消息管理</string>
			<key>Key</key>
			<string>admin.message.manage</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>关闭启动画面</string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>admin.start.disable</string>
		</dict>
	</array>
</dict>
</plist>
