<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>界面</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>夜间模式</string>
			<key>Key</key>
			<string>settings.night.isEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>晚间自动进入夜间模式</string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>settings.night.auto</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>green</string>
				<string>orange</string>
				<string>blue</string>
				<string>pink</string>
				<string>purple</string>
				<string>blueGreen</string>
				<string>mintGreen</string>
				<string>grass</string>
				<string>fogBlue</string>
				<string>black</string>
				<string>kill</string>
			</array>
			<key>Titles</key>
			<array>
				<string>原谅绿</string>
				<string>南外橙</string>
				<string>校服蓝</string>
				<string>少女粉</string>
				<string>香芋紫</string>
				<string>蓝绿色</string>
				<string>薄荷绿</string>
				<string>青草绿</string>
				<string>雾霾蓝</string>
				<string>夜间黑</string>
				<string>瞎眼睛</string>
			</array>
			<key>Key</key>
			<string>settings.theme</string>
			<key>Title</key>
			<string>主题</string>
			<key>DefaultValue</key>
			<string>pink</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>身份</string>
			<key>Key</key>
			<string>settings.identification</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>未指定</string>
				<string>IB&amp;A-Level在校学生</string>
				<string>普初普高及中加在校学生</string>
				<string>毕业校友</string>
			</array>
			<key>Values</key>
			<array>
				<string>none</string>
				<string>ic</string>
				<string>normal</string>
				<string>graduates</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>用户</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>国际部在校学生实名认证</string>
			<key>Key</key>
			<string>app.realname</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>个人中心</string>
			<key>Key</key>
			<string>app.user</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>退出</string>
			<key>Key</key>
			<string>app.logout</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>关于</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>请喝咖啡</string>
			<key>Key</key>
			<string>app.donate</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>开源项目许可证</string>
			<key>Key</key>
			<string>app.license</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>关于</string>
			<key>File</key>
			<string>Authors</string>
		</dict>
	</array>
</dict>
</plist>
