<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>settings.version</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>settings.user</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>头像</string>
			<key>Key</key>
			<string>user.avatar</string>
			<key>IASKSubtitle</key>
			<string>在此上传或修改您的头像</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>安全</string>
			<key>Key</key>
			<string>user.email</string>
			<key>IASKSubtitle</key>
			<string>修改邮箱或密码</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>改名</string>
			<key>Key</key>
			<string>user.username</string>
			<key>IASKSubtitle</key>
			<string>修改您的用户名</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>消息</string>
			<key>Key</key>
			<string>user.message</string>
			<key>IASKSubtitle</key>
			<string>进入您的消息收件箱</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>退出</string>
			<key>Key</key>
			<string>user.clean</string>
			<key>IASKSubtitle</key>
			<string>您也可以清除所有登陆的设备</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>界面</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>往卷下载强制正序</string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>settings.resources.rank</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>晚间自动进入夜间模式</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>settings.night.auto</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>预览文档时保持屏幕常亮</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>settings.keep.enabled</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>自定义主题</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>settings.theme.customize</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>预设</string>
			<key>Key</key>
			<string>settings.theme.pick</string>
			<key>IASKSubtitle</key>
			<string>您可以在此选择预设的主题</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>关于</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>评价</string>
			<key>Key</key>
			<string>app.review</string>
			<key>IASKSubtitle</key>
			<string>在App Store上给我们撰写评价</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>请喝咖啡</string>
			<key>Key</key>
			<string>app.donate</string>
			<key>IASKSubtitle</key>
			<string>给我们捐款30元</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>开发组</string>
			<key>File</key>
			<string>Authors</string>
		</dict>
	</array>
</dict>
</plist>
