<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>用户中心</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>国际部在校学生实名认证</string>
			<key>Key</key>
			<string>app.realname</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>获取入场券</string>
			<key>Key</key>
			<string>app.ticket</string>
			<key>IASKSubtitle</key>
			<string>仅支持带有Wallet应用的iPhone</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>用户中心</string>
			<key>Key</key>
			<string>app.user</string>
			<key>IASKSubtitle</key>
			<string>可查询您的账户信息及修改密码或隐私设置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>退出</string>
			<key>Key</key>
			<string>app.logout</string>
			<key>IASKSubtitle</key>
			<string>退出当前账户，并清空所有缓存</string>
		</dict>
	</array>
</dict>
</plist>
